* {
    padding: 0;
    margin: 0;
    border: 0;
}

#columnaPrincipal {
    text-align: center;
    margin: auto 500px;
    border: 1px solid rgb(210, 208, 208);
    border-radius: 1%;
    background-color: white;
}

#separador {
    border: 1px solid black;
    margin: 10px 3px 10px 3px;
    text-align: center;
}

#titulo {
    padding-top: 20px;
    text-align: center;
    color: #354B58;
}

.subtitulo {
    color: #4796D0;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
}

#parrafo {
    padding-left: 3px;
    font-size: 15px;
    color: #354B58;
}

#borde {
    text-align: left;
    padding-left: 9px;
    padding-right: 9px;
    font-size: 15px;
}

#borde1 {
    background-color: #EEF8FE;
    border: 1px solid rgb(210, 208, 208);
    border-radius: 2%;
    margin: 12px;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}

#borde2 {
    background-color: #FFF2DF;
    border: 1px solid rgb(210, 208, 208);
    border-radius: 2%;
    margin: 12px;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}

#borde3 {
    background-color: #E6F6E9;
    border: 1px solid rgb(210, 208, 208);
    border-radius: 2%;
    margin: 12px;
    text-align: left;
    padding: 20px;
    font-size: 15px;
}

#lista {
    text-align: left;
    padding-left: 4%;
        color: #212b31;
    font-weight: bold;
}

#letraVerde {
    color: green;
}

#bordeExterior {
    background-color: #E7EBED;
}

#datosPersonales {
    color: #354B58;
}